@{
    ViewData["Title"] = "Home Page";
    ViewData["Dev"] = "Anderson Ribas";
}

<div class="text-center">
    <h1 class="display-4">Agenda de Tarefas</h1>
    <h/>

    <p>Desenvolvedor @ViewData["Dev"]</p>
</div>
